pkgbase = cliamp-deck
	pkgdesc = A btop × Winamp terminal face for cliamp, with themed demoscene visualizers
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/demian0311/cliamp-deck
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = cliamp
	depends = glibc
	source = cliamp-deck-0.2.0.tar.gz::https://github.com/demian0311/cliamp-deck/archive/v0.2.0.tar.gz
	source = cliamp-deck.desktop
	sha256sums = 324bea08464f0ede4ee9eb4c9012223f29ca6df31d3a11198a3c976a969dc034
	sha256sums = 3628aeeea4ef05755bf57b5a2a69fa2b9970bc5c27e40c899425aec6b95f2a36

pkgname = cliamp-deck
