pkgbase = cliamp-deck
	pkgdesc = A btop × Winamp terminal face for cliamp, with themed demoscene visualizers
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/demian0311/cliamp-deck
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = cliamp
	depends = glibc
	source = cliamp-deck-0.1.3.tar.gz::https://github.com/demian0311/cliamp-deck/archive/v0.1.3.tar.gz
	sha256sums = 11f43085b6fb51cb7bc41e6edc8adc8c6c2b271d47ab43b2f7f7bce804818019

pkgname = cliamp-deck
